body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
/* TOP */
.top {
  display: flex;
  height: 5%;
  background-color: white;
  color: #c17817;
}
.left_top {
  display: flex;
  width: auto;
}
.logo {
  display: flex;
  align-items: center;
}
.imglogo{
  width: 10%;
  height: auto;
  margin-left: 3em;
}
.right_top {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.lol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 3em;
}
.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 3em;
}
.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 3em;
}

/* MID */
.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: linear-gradient(180deg, white, white 20%, black);
}
.box {
  display: flex;
  height: 80%;
  width: 65%;
  background: #5c9ead;
  border: 0.5em outset;
  border-image: linear-gradient(180deg, black, black 20%, white);
  border-image-slice: 1;
  box-shadow: 0 0 2em 0;
}
.login {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.line1 {
  width: 1%;
  background: linear-gradient(180deg, black, black 20%, white);
}
.signin {
  display: flex;
  flex-direction: column;
  width: 40%;
}
/* FOOTER */
.footer {
  display: flex;
  height: 5%;
  justify-content: center;
  background-color: black;
  color: #c17817;
}
