body,
html {
  /* Inclui que ademas del Body, el HTML tambien adquiera esas propiedades
  HTML es un tag que esta por fuera del Body, no se recomienda
  modificarlo o estilizarlo a menos que sea muy necesario, como en las SPA. */
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
}
body {
  /* El overflow:hidden, indica que no es permitido que los hijos
  modifiquen el tamaño del padre por innercia, es decir
  que el padre mantendra siempre las propiedades dadas */
  overflow: hidden;
}
.container {
  /* Aqui intente  flex:1, que es muy similar a height: 100, y width:100.
  con flex:1, el display:flex viene incluido. */
  /* flex:1; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: "ZCOOL XiaoWei", serif;
  font-weight: bold;
  background-color: #363636;
}
/* TOP */
.top {
  display: flex;
  height: 5%;
  padding: 2em;
  /*color: #c17817;*/
  color: #e2e2e2;
}
.left_top {
  display: flex;
  align-items: center;
  width: 30%;
}
.imglogo {
  width: 20%;
  height: auto;
  margin-left: 3em;
}
.right_top {
  display: flex;
  width: 70%;
  justify-content: flex-end;
}
.lol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 3em;
}
.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 3em;
}
.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 3em;
}

/* MID */
.mid {
  display: flex;
  justify-content: center;

  flex-grow: 1;
  /*background: linear-gradient(180deg, white, white 20%, black);*/
}
.box {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 30%;
  background: white;
  /*border: 0.5em outset black;*/
  /*border-image: linear-gradient(180deg, black, black 20%, white);
  border-image-slice: 1;*/
  /*box-shadow: 0 0 2em 0;*/
}
.pass{
  size: 1000px;
}
.login-top {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  color: black;
}
.login-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
}
.user {
  margin-bottom: 2em;
}
.login-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
.button {
  height: 40%;
  width: 20%;
  font-size: 2em;
  border-radius: 0.5em;
}
.button:hover {
  color: rgb(0, 247, 255);
}
.line1 {
  width: 1%;
  background: linear-gradient(180deg, black, black 20%, white);
}
.signin {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.signin-top {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  color: black;
}
.signin-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60%;
}
.signin-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

/* FOOTER */
.footer {
  display: flex;
  height: 5%;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #c0c0c0;
}

.footer h4 {
  margin: 0 !important;
}
