body, html {
  /* Inclui que ademas del Body, el HTML tambien adquiera esas propiedades
  HTML es un tag que esta por fuera del Body, no se recomienda
  modificarlo o estilizarlo a menos que sea muy necesario, como en las SPA. */
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
}
body{
  /* El overflow:hidden, indica que no es permitido que los hijos
  modifiquen el tamaño del padre por innercia, es decir
  que el padre mantendra siempre las propiedades dadas */
  overflow:hidden;
}
.container {
  /* Aqui intente  flex:1, que es muy similar a height: 100, y width:100.
  con flex:1, el display:flex viene incluido. */
  /* flex:1; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
/* TOP */
.top {
  display: flex;
  max-height: 5%;
  background-color: white;
  color: #c17817;
}
.left_top {
  display: flex;
  align-items: center;
  width: 30%;
}
.imglogo{
  width: 20%;
  height: auto;
  margin-left: 3em;
}
.right_top {
  display: flex;
  width: 70%;
  justify-content: flex-end;
}
.lol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 3em;
}
.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 3em;
}
.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 3em;
}

/* MID */
.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: linear-gradient(180deg, white, white 20%, black);
}
.box {
  display: flex;
  height: 80%;
  width: 65%;
  background: #5c9ead;
  border: 0.5em outset;
  border-image: linear-gradient(180deg, black, black 20%, white);
  border-image-slice: 1;
  box-shadow: 0 0 2em 0;
}
.login {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.line1 {
  width: 1%;
  background: linear-gradient(180deg, black, black 20%, white);
}
.signin {
  display: flex;
  flex-direction: column;
  width: 40%;
}
/* FOOTER */
.footer {
  display: flex;
  height: 5%;
  justify-content: center;
  background-color: black;
  color: #c17817;
}

.footer h4{
  margin:0 !important;
}
